// _location.scss
@use '../variables.scss' as *;

[data-lucide] {
  width: 24px;
  height: 24px;
  color: var(--icon-color); /* Usando la variable para el color del ícono */
  vertical-align: middle;
}

.icon-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--icon-bg-color); /* Usando la variable para el fondo del círculo */
  margin-right: 8px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--icon-bg-color-hover); /* Usando la variable para el hover */
  }
}

.location {
  background-color: var(--color-bg-secondary);
  width: 100%;
  padding: 96px 0;

  .container-mx-auto {
    max-width: 1400px;
    padding: 0 24px;
    margin: auto;

    .colums-grid {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      gap: 24px;

      @media (min-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
      }

      .mapa-interactivo {
        position: relative;
        border-radius: 15px;
        overflow: hidden;
        background-color: var(--color-bg-form-element);
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 300px;
        
        @media (min-width: 1024px) {
          min-height: auto;
        }

        span {
          font-family: var(--font-family-geist);
          color: var(--icon-color);
        }
      }

      .encuentranos {
        padding-left: 0;
        color: var(--color-text-primary);
        
        @media (min-width: 1024px) {
          padding-left: 48px;
        }

        h1 {
          font-family: var(--font-family-cinzel);
          font-size: var(--font-size-3xl);
          margin-bottom: 32px;
        }

        .space {
          display: flex;
          flex-direction: column;
          gap: 24px;
        }

        #flex-items-start-1, .flex-items-start {
          display: flex;
          align-items: flex-start;
          gap: 16px;

          .text-container {
            h2 {
              font-family: var(--font-family-geist);
              font-size: 20px;
              margin-bottom: 8px;
            }

            p {
              font-family: var(--font-family-geist);
              font-size: 16px;
              color: var(--color-amber-200-80);
            }
          }
        }

        #location-button {
          background-color: var(--color-amber-400);
          font-weight: var(--font-weight-regular);
          font-size: 16px;
          border-radius: 9999px;
          border: none;
          padding: 14px 32px;
          margin-top: 48px;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: var(--color-amber-300);
          }
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .colums-grid {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      row-gap: 24px;

      .mapa-interactivo {
        grid-column: 1 / -1;
        width: 100%;
        min-height: 200px;
      }

      .encuentranos {
        grid-column: 1 / -1;
        width: 100%;
        padding: 0;
      }
    }
  }
}
